<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub profile</title>
</head>
<body>

<h3 th:text="${user.getName()}"></h3>
<div th:text="${user.getAttribute('login')}"></div>
<div th:text="${user.getAttribute('name')}"></div>
<div th:text="${user.getAttribute('email')}"></div>

<div>
    <img th:src="${user.getAttribute('avatar_url')}" src="" th:alt="${user.getAttribute('login')}">
</div>

<div>
    <a href="/"><button>Back</button></a>
</div>

</body>
</html>
